.card {
  text-align: left !important;
  border-radius: 1rem !important;
}

.card-title {
  font-weight: 300;
}

.card-img-top {
  border-top-left-radius: 1rem !important;
  border-top-right-radius: 1rem !important;
}